{% extends 'base.html.twig' %}

{% block title %}Edit Notes{% endblock %}

{% block body %}
    <h1>Edit Notes</h1>

    {{ include('notes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('notes_index') }}">back to list</a>

    {{ include('notes/_delete_form.html.twig') }}
{% endblock %}
