{% extends 'base.html.twig' %}

{% block title %}New Notes{% endblock %}

{% block body %}
    <h1>Create new Notes</h1>

    {{ include('notes/_form.html.twig') }}

    <a href="{{ path('notes_index') }}">back to list</a>
{% endblock %}
