{% extends 'base.html.twig' %}

{% block title %}New FilesLead{% endblock %}

{% block body %}
    <h1>Create new FilesLead</h1>

    {{ include('files_lead/_form.html.twig') }}

    <a href="{{ path('files_lead_index') }}">back to list</a>
{% endblock %}
